<!DOCTYPE html>
<html>
    <head>
        <title>create입니다.</title>
    </head>
    <body>
        <form method="POST">
            게시자 이름 : <input type="text" name=""><br> <!--입력-->
            게시글 내용 : <input type="text" name=""><br> <!--입력-->
            <input type="submit" value="게시하기">
        </form>
    </body>
</html>